<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <div style="background: #ddd; width: 450px; margin-top: 10px;">
      <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
        <p>Description: <%= restaurant.description %></p>
        <% restaurant.reviews.each do |review| %>
          <p>
            <%= review.thoughts %>
          </p>
        <% end %>

        <p><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></p>
        <p><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %></p>
        <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
    </div>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<div style="float:left">
  <h3><a href="restaurants/new">Add a restaurant</a></h3>
</div>
